body {
    background-color: #5941A9;
    color: #5941A9;
}

.navbar{
    background-color: #D7D8EE;
}

#contact-form {
    width: 500px;
    padding: 30px;
    border: black;
    border-width: 10px, 10px, 10px, 10px;
    background-color: white;
    padding-top: 15px;
    padding-left: 35px;
}

/* Creates subdividers in the navbars' links. */
.nav-right-border {
    border-right: solid 1px grey;
}

.navbar-brand {
    border-radius: 25px;
    width: 180;
    padding: 10px;  
    text-align: center;
    font-size: 150%;
}

.wrapper {
    padding-top: 15px;
    padding-left: 35px;
    border-width: 5px;
    border-color: black;
    background: white;
    width: 66%;
    margin: 40px auto;
    background-color: #D7D8EE;
    border-radius: 25px;
}

.card {
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20%;
}

@media screen and (min-width: 980px) {
    .wrapper {
        float: left;
        margin-left: 5%;
    }
}
